body,
html {
  margin-left: 0rem;
  margin-right: 0rem; 
  Font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
  /*
  Font-family: Georgia, Times, Times New Roman, serif; 
  */
}


.Container {
  width: 100%;
  height: 100%;
  min-width: 500px;
}

/* Navigation Bar */

.mainName{
  font-size: 30px; 
  margin-top: 1%; 
  margin-left: 4%; 
  width: 20%; 
  color: white;
}

.navContainer{
  display: flex; 
  background-color: #12355B; 
  width: 100%;
  position: fixed; 
  top: 0;  
  z-index: 100; 
}

.navBar {
  margin-left: 47%;
  margin-top: 2%;
  width: 50%; 
}

.navBar a{
  margin-left: 5%; 
  color: white; 
  text-decoration: none;
}

.navBar a:hover {
  border-bottom: 1px solid whitesmoke;
}


/* ///////////////////////////////// */

/* Short Description */
.aboutMeWrapper {
  display: -moz-box; /* Firefox*/
  display: -webkit-box; /* Chrome */
  display: -ms-flexbox; /* IE 10 */
  background-color: #12355B;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -ms-flex-align: start;
  height: 100%; 
  margin-top: 3%; 
}

.box{
  width: 33.3333%; 
  height: 50%; 
}

.box1 {
  -webkit-box-ordinal-group: 1; /* iOS 6-, Safari, Opera*/
  -moz-box-ordinal-group: 1; /* Firefox*/
  -ms-flex-order: 1; /* IE 10 */
  -ms-flex-order: 1;
}

.box2 {
  -webkit-box-ordinal-group: 2; /* iOS 6-, Safari, Opera*/
  -moz-box-ordinal-group: 2; /* Firefox*/
  -ms-flex-order: 2; /* IE 10 */
  -ms-flex-order: 2; 
}

.box3 {
  -webkit-box-ordinal-group: 3; /* iOS 6-, Safari, Opera*/
  -moz-box-ordinal-group: 3; /* Firefox*/
  -ms-flex-order: 3; /* IE 10 */
  -ms-flex-order: 3;
}

.box4 {
  -webkit-box-ordinal-group: 4; /* iOS 6-, Safari, Opera*/
  -moz-box-ordinal-group: 4; /* Firefox*/
  -ms-flex-order: 4; /* IE 10 */
  -ms-flex-order: 4;
}

.box5 {
  -webkit-box-ordinal-group: 5; /* iOS 6-, Safari, Opera*/
  -moz-box-ordinal-group: 5; /* Firefox*/
  -ms-flex-order: 5; /* IE 10 */
  -ms-flex-order: 5;
}

.box6 {
  -webkit-box-ordinal-group: 6; /* iOS 6-, Safari, Opera*/
  -moz-box-ordinal-group: 6; /* Firefox*/
  -ms-flex-order: 6; /* IE 10 */
  -ms-flex-order: 6;
}

@media all and (max-width: 500px){

  .aboutMeWrapper{
    height: 300%;  
  }
  .box {
    width: 100%;
    height: 16.667%
  }

  .box1{
    margin-top: 13%; 
  }

}

.flip-card {
  background-color: transparent;
  perspective: 1000px
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%; 
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

.shortDescription {
  margin: 0% 8% 0% 8%; 
  text-align: center;
  line-height: 20pt;
  text-indent: 2%;
  font-size: 24px;
}

.question{
  display:flex;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  margin-top: 4%;
}

img {
  width: 100%; 
  height: 100%; 
}

/* ///////////////////////////////// */

/* Classes */

@media all and (max-width: 500px){

  #classesTitle{
    margin-top: 20%; 
  }

}

.MichiganClasses {
  max-width: inherit; 
  background: white;
}

#classesTitle {
  margin-left: 15%; 
  display: flex;
  font-size: 250%;
}

.accordian_container {
  margin-left: 15%; 
  margin-right: 15%; 
}

.accordian__button {
  display: block;
  justify-content: center;
  width: 100%; 
  height: 10%; 
  padding: 15px;
  border: solid; 
  outline: none; 
  cursor: pointer; 
  background: #12355B;;
  color: white;
  text-align: left;
  transition: 0.2s;
  font-size: 20px;
}

.accordian__button::after {
  content: '\25be';
  float: right; 
  transform: scale(1.5);
}

.accordian__button--active + .accordian__content {display: block}

.accordian__button--active{
  background:#205a98;
}
.accordian__button--active::after{
 content: '\25b4';
}

.accordian__content{
  padding: 0 15px; 
  background:white; 
  display: none; 
  overflow: auto; 
}


/* ///////////////////////////////// */

/* Extracurriculars */

.extracurricularName{
  font-size: 250%;
  display: flex;
  margin-left: 5%; 
}

.extracurricularContent{
  height: 85%; 
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -ms-flex-align: start;
}

.extracurricularBox{
  width:25%; 
  background-color: #12355B;
  height: 67%; 
  margin-left: 8%; 
}

.extraPic{
  width: 96%;
  height: 75%; 
  margin-left: 2%;
  margin-top: 2%;  
}

.accordian2 {
  border: none; 
  height: 10%; 
  font-size: 24px;
  text-align: center;
}

.content2 {
  border-bottom: 1px solid #12355B;
  border-right:  1px solid #12355B;
  border-left:   1px solid #12355B;

}

.extrabox2{
  margin-left: 4.5%; 
}

@media all and (max-width: 500px){

  .extracurricularContent{
    height: 200%;  
  }
  .extracurricularBox {
    width: 80%;
    height: 30%;
    margin-left: 10%;  
  }

}


/* ///////////////////////////////// */

/* Footer */

.footer{
  height: 70%; 
  background-color: #12355B;
  margin-top: 3%; 
}

.title{
  margin-left: 43%; 
  color: white; 
  font-size: 30px;
  padding-top: 2%; 
}

.inputs{
  margin-right: 10%; 
  width: 80%; 
  margin-left: 10%; 
}

input{
  width: 90%; 
  padding: 5px; 
  margin: 10 0px; 
}

label{
  color: white; 
}

.row1{
  display: flex;
}

.inputColumn1{
  width: 50%; 
  display:inline-block;
  margin-right: 5%;
}

.inputColumn2{
  width: 50%; 
  display: inline-block;
}

textarea{
  margin: 10 0 0 0px;;
}

.submitButton {
  width: 10%; 
  height: 8%; 
  margin-left: 45%; 
  margin-top: 2%; 
  background-color: white;
  border: none; 
  border-radius: 4% 
}

.closer{
  margin-left: 40%;
  color: grey;
}



/* add link to linkdn */











